*{
    margin: 0;
    padding: 0;
}
.contanier{
    display: flex;
    justify-content: center;
}
.in-box{
    background: rgb(229, 122, 122);
    display: flex;
    border-radius: 50px;
    align-content: center;
    margin: 0 270px;
    box-sizing: border-box;
    position: absolute;
    justify-content: center;
    width: 50%;
    height: 90%;
}
.heading{
    width: 50px;
    position: relative;
}
 .para{
    position: relative;
    align-items: center;
}
/* .img-box img{
    width: 40%;
    margin: 0 auto;
    height: 30%;
    
} */